@import '~styles/mixins.styl'
@import '~styles/theme.styl'

*
    margin: 0
    padding: 0

body
    // 背景图片
    background-image: url('../images/bg.png')
    // 背景图片位置固定
    background-attachment: fixed
    background-repeat: no-repeat
    background-position: center center
    background-size: cover
    background-color: #fff
    font: 14px 'Microsoft YaHei'
    font-weight: 300

h2
    color: red
    transform: translate(350px, 10px)

.sp
    color: white
    font-size: 18px
    background-color: rgba(black, 0.5)

.btn.info2
    InfoBtn()
    font-size: 18px
    // border: 1px solid rgba(0, 0, 0, 0.5)
    box-shadow: 0 0 2px #666

    &:hover
        background-color: $lightgreen
        color: #fff

    &:active
        background-color: $lightgreen
        color: #fff